* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #121212;
    color: white;
    font-family: 'Montserrat';
    user-select: none;
    margin-bottom: 50px
}

#logo {
    width: 50px;
    height: 50px;
}
input[type="button" i]{
    cursor: pointer;
}input[type="submit" i]{
    cursor: pointer;
}
header {
    display: flex;
    justify-content: space-between;
    margin: 20px;
    margin-left: 100px;
    margin-right: 100px;
    text-align: center;
    align-items: center;
}

nav {
    display: flex;
    text-align: center;
    align-items: center;
}

nav a,
button {
    font-size: 10pt;
    background: none;
    text-decoration: none;
    color: white;
    border: none;
    cursor: pointer;
    margin: 10px;
    text-align: center;
    transition: 0.5s;
}

nav a:hover {
    color: red;
    transition: 0.5s;
}

nav a {
    font-weight: 600;
}

#dropMenu {
    position: relative;
    text-align: center;
}

#dropMenu img {
    margin: auto;
    align-items: center;
    width: 40;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
}

#Menu {
    background-color: white;
    position: absolute;
    left: -63px;
    margin-top: 10px;
    border-radius: 15px;
    padding: 20px;
    cursor: auto;
    opacity: 70%;
}

#Menu p a {
    cursor: pointer;
    margin: 15px;
    color: black;
}



#Logout{
    background: none;
    color: black;
    border: none;
    cursor: pointer;
}

.sumir {
    display: none;
}

/*Main*/
main {
    width: auto;
    height: auto;
}

form {
    text-align: center;
    
}



#imagem {
    text-align: center;
    display: inline;
}

#imagem img {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    object-fit: cover;
}
#imagem p{
    font-size: 15pt;
    margin-bottom: 5px;
    font-weight: 600;
}


main h1{
    font-size: 33pt;
    font-weight: 600;
    margin-right: 700px;
}

#user-info{
    display: block;

}

.file-input {
    position: relative;
    margin: 10px;
}

.custom-file-upload {
    display: inline-block;
    border: #970202 2px dashed;
    transition: background-color 0.8s ease-in-out;
    color: white;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 20px;
}

.custom-file-upload:hover {
    background-color: #970202;
    transition: background-color 0.8s ease-in-out;
}

#file-name {
    margin-left: 10px;
}

/* Ocultar o input de arquivo real */
#real-file-input {
    display: none;
}

#span-email{
    left: 500px;
    position: absolute;
}

#span-senha{
    position: absolute;
    left: 500px;
}

#email input{
    position: relative;
    border-radius: 5px;
    border: 1px solid white;
    background: none;
    padding: 20px;
    font-size: 16px;
    width: 20rem;
    height: 50px;
    color: white;
    margin: 5px;
}


#senha input{
    position: relative;
    border-radius: 5px;
    border: 1px solid white;
    background: none;
    padding: 20px;
    font-size: 16px;
    width: 20rem;
    height: 50px;
    color: white;
    margin: 5px;
}

#nameInfo {
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    margin-left: 500px;
    align-items: start; 
    text-align: center; 
}

#nameInfo p {
    position: relative;
}
.nameInfoFilho {
    display: inline-block;
    margin-top: 5px; 
}
#resName{ 
    user-select: text;
    /* left: 40px; */
    margin-top: 8px;
    font-weight: 600;
    font-size: 12pt;
}

#selectRegiao{
    margin-top: 200px;
    position: relative;
    border-radius: 5px;
    border: 1px solid white;
    background: none;
    padding: 10px;
    font-size: 16px;
    width: 20rem;
    height: 50px;
    color: white;
    margin: 5px;
}

select{
    pointer-events: none;
    cursor: pointer;
}
option{
    background-color: #121212;
    color: white;
}

#textPais{
    left: 500px;
    position: absolute;
}

#botao{
    margin-top: 20px;
}

#Cancel{
    height: 48;
    width: 83px;
    background: none;
    color: #A7A7A7;
    border: none;
    border-radius: 25px;
    text-align: center;
    font-weight: bold;
    padding: 20px;
    transition: .3s ease all;
    text-decoration: none;
    &:hover{
        color: white;
        transform: scale(1.1);
    }
}

#Save{
    height: 48px;
    width: 120px;
    font-size: 16px;
    background: red;
    color: black;
    border: none;
    border-radius: 25px;
    text-align: center;
    font-weight: bold;
    padding: 8px 24px;
    transition: .3s ease all;
    &:hover{
        background: #970202;
        transform: scale(1.04);
    }
}