<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/index/index.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="https://www.scdn.co/i/_global/favicon.png" type="image/x-icon">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <!--Fonts-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Grandiflora+One&family=Montserrat:wght@600&display=swap"
        rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Grandiflora+One&family=Kanit:wght@700&display=swap"
        rel="stylesheet">

    <title>Sound Pure</title>
</head>

<body onload="carregar()">
    <aside>

        <nav class="navegacao">
            <button>
                <a href="/Sucess" id="home" class="buttonNav">
                    <img width="25px" height="25px" src="Assets/bxs-home.png" alt="">
                    Início
                </a>
            </button>
            <br>
            <br>
            <button>
                <a id="navPesquisa" class="buttonNav">
                    <img width="25px" height="25px" src="Assets/bx-search-alt-2.png" alt="">
                    Buscar
                </a>
            </button>





        </nav>


        <section>
            <div id="sectionPlaylist">
                <button id="library">
                    <img src="Assets/bx-library.png" alt="">
                </button>
                <p>Sua Biblioteca</p>
                <button id="plus">
                    <img src="Assets/bx-plus.png" alt="">
                </button>

            </div>
            <div id="pesquisa">
                <button onclick="toggleSearch()" id="searchPlaylist">
                    <img width="23px" height="23px" src="Assets/bx-search-alt-2.png" id="imgPesquisa" alt="">
                </button>

                <div class="classPesquisar" id="divPesquisar">
                    <input type="text" class="sumir" placeholder="Pesquisar" id="pesquisar">
                </div>
            </div>

            <select name="playlist" size="10" id="playlist"></select>

        </section>
    </aside>

    <header>
        <div class="headerButtons">
            <button id="planos">
                <a
                    href="https://www.spotify.com/br-pt/premium/?utm_source=app&utm_medium=desktop&utm_campaign=upgrade&ref=web_loggedin_upgrade_button">
                    <p>Ver planos premium</p>
                </a>
            </button>

            <button id="download">
                <img src="Assets/bxs-download.png" alt="">
                <p>
                    Instalar Aplicativo <br> (Em Breve!!!)
                </p>
            </button>

            <button id="bell">
                <a href="">
                    <img src="Assets/bxs-bell.png" alt="">
                </a>
            </button>

            <button id="account">
                <img height="25px" id="imgAccount" src="" alt="">
                <div class="sumir" id="menu">
                    <ul id="listaMenu">
                        <li>
                            <a href="/account/overview">
                                Conta <i class='bx bx-add-to-queue' id="bx-add-to-queue" style='color:#ffffff'></i>
                            </a>
                        </li>
                        <li>
                            <a href="/Music">
                                Criar Musica <i class='bx bx-add-to-queue' id="bx-add-to-queue"
                                    style='color:#ffffff'></i>
                            </a>
                        </li>
                        <li>
                            <a href="/Cfg">
                                Configurações
                            </a>
                        </li>
                        <hr>
                        <li>
                            <a href="/logout">
                                Sair
                            </a>
                        </li>
                    </ul>
                </div>
            </button>
        </div>

        <div id="salutation">

        </div>
        <div class="visualPlaylist">

        </div>
    </header>

    <main>
        <div id="mainMusic"></div>
    </main>

    <footer>
        <div id="music">
        </div>

        <div id="mainFooter">
            <div id="buttonsFooters">

                <button id="shuffle">
                    <i class='bx bx-transfer-alt' id="shuffleI" style='color:#ffffff;'></i>

                </button>

                <button id="previous">
                    <i class='bx bx-skip-previous' style='color:#ffffff'></i>
                </button>
                <button id="PlaySoundB">
                    <i class='bx bx-play-circle' id="PlayPause" style='color:#ffffff;'></i>
                </button>
                <button id="next">
                    <i class='bx bx-skip-next' style='color:#ffffff'></i>
                </button>

                <button id="reload">
                    <i class='bx bx-refresh' id="refresh" style='color:#ffffff'></i>

                </button>

            </div>
            <div id="endFooter">
                <img src="Assets/bx-volume-full.png">
                <input type="range" min="0" max="100" value="100" step="1" name="rangeEnd" id="rangeEnd">
            </div>
        </div>
        <div class="progressRange">
            <div>
                <span id="init">00:00</span>
            </div>
            <div>
                <input type="range" min="0" max="100" value="0" name="rangeSound" id="rangeSound"
                    onchange="valueProgress">
            </div>
            <div>
                <span id="end">00:00</span>
            </div>
            <!-- <audio src=""  id="audio"></audio> -->
        </div>


    </footer>




    <script src="/index/index.js"></script>
</body>

</html>